<h1>Hello World!</h1>
<app-rooms>
</app-rooms>
<app-employee></app-employee>
<!-- <app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>THis is from ng-content</h1>
</app-container> -->

<!-- <div #name></div> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'User'">Welcome User!</div>
  <div *ngSwitch="'Admin'">
  </div>
  <div *ngSwitchDefault>
    You are not supposed to be on this page
  </div>
  </div> -->
  <!-- <div>
    <ng-template #user></ng-template>
  </div> -->